@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: radial-gradient(circle at 120.71% 50%, #dfcbb8 0, #e9d4ca 50%, #e4d9ca 100%);

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
